/* General CSS for Bootleg */

/* Variables  */

:root {
    --white: hsla(0, 0%, 98%, 1);
    --blue: hsla(234, 92%, 19%, 1);
    --blue-contrast: hsla(198, 97%, 48%, 1);
    --selected:hsla(96, 99%, 51%, 0.5);

}

/* Globals */

html{
    font-family: Arial, Helvetica, sans-serif;
}

a {
   color: var(--white);
}

a:hover{
    color: var(--selected);
}

a:active{
    color: var(--selected);
}

/* This is overriding the default style for the current breadbrumb option */

a.is-active{
    color:var(--white) !important;
}

body{
    background-color: var(--blue);
    color: var(--white);
}

/* Margin 12% to account for sidebar menu */

main{
    margin-left: 12%;
}


/* Regions */

/* Header region */
.region-header {
    width: 100vw;
    min-height: 15%;
    display: inline-flex;
    justify-content: space-around;
}

.block-system-branding-block{
    display: inline-flex;
    padding: 1%;
}

/* Search bar appearing in the header */

.search-block-form{
    display: inline-flex;
    align-items: center;
    
}

.search-block-form input{
    background-color: var(--blue-contrast);
}

/* Site title */
.region-header .site-name a{
    font-size: 4em;
    text-decoration: none;
}

/* Content Region */

.region-content{       
    width: 100%;
}

/* Secondary menu (side bar menu) */

.region-secondary-menu{

    position: fixed;
    height: 100vh;
    left: 0;
    padding: 0;
    width: 10%;
    margin-left: 0;
    border: 2px dotted green;
}

